@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext");

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  background: linear-gradient(90deg, #fff9e0 0, #ffd6d6 100%);
}

body {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main > section {
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
  background: white;

  width: 200px;
}

main > section > p {
  font-family: "Open Sans", sans-serif;
}
